.gift-card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0 2.3em;
}

.content {
    margin: 2em 5em;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0;
    width: 100%;
    max-width: 1400px;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    padding: 0 1.5em;
}

.card:not(:last-child) {
    border-right: 1px solid #ccc;
}

.card hr {
    width: 100%;
    height: 1px;
    border: none;
    background-color: #ccc;
    margin: 0.3em 0;
}

.press img {
    width: 100%;
    height: 10em;
    object-fit: cover;
}

.innercard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 0.4em;
}

.meeting img {
    width: 100%;
    height: 15em;
    object-fit: cover;
}

.inside {
    display: flex;
    align-items: flex-start;
    gap: 0.5em;
}

.school img {
    width: 15em;
    height: 10em;
    object-fit: cover;
    flex-shrink: 0;
}

.description {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

@media (max-width: 1200px) {
    .content {
        margin: 2em 3em;
    }
    
    .meeting img {
        height: 12em;
    }
}

@media (max-width: 1024px) {
    .gift-card {
        margin: 0 1em;
    }
    
    .content {
        margin: 2em 2em;
        grid-template-columns: 1fr;
        gap: 2em;
    }
    
    .card:not(:last-child) {
        border-right: none;
        border-bottom: 2px solid #ccc;
        padding-bottom: 2em;
    }
    
    .card {
        padding: 0 1em;
    }
    
    .meeting img {
        height: 15em;
    }
    
    .school img {
        width: 12em;
        height: 8em;
    }
}

@media (max-width: 768px) {
    .content {
        margin: 1.5em 1em;
    }
    
    .press img,
    .meeting img {
        height: 12em;
    }
    
    .inside {
        flex-direction: column;
    }
    
    .school img {
        width: 100%;
        height: 10em;
    }
}

@media (max-width: 480px) {
    .gift-card {
        margin: 0 0.5em;
    }
    
    .content {
        margin: 1em 0.5em;
    }
    
    .card {
        padding: 0 0.5em;
    }
    
    .press img,
    .meeting img {
        height: 10em;
    }
}