:root { --bg-heading: #E07A6B; }

.community-images {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.8rem;
  margin: 1rem 8rem;
} 

.community-images img {
  width: 100%;
  height: 30rem;
  object-fit: cover;
}

@media (max-width: 48rem) {
  .community-images {
    grid-template-columns: repeat(2, 1fr);
    margin: 1rem 2rem;
    gap: 1rem;
  }

  .community-images img {
    height: 18rem;
  }
}

@media (max-width: 30rem) {
  .community-images {
    grid-template-columns: 1fr;
    margin: 1rem 1rem;
    gap: 1rem;
  }

  .community-images img {
    height: 15rem;
  }
} 
