.btn-main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    height: 2.5em;
    width: 16em;
    max-width: 90%;
    background-color: #ffffff;
    border: 1px solid black;
    border-radius: 0.2em;
    color: black;
    margin: 1.4em 0;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #f5f5f5;
}

@media (max-width: 480px) {
    .btn {
        width: 14em;
        height: 2.2em;
        font-size: 0.9em;
    }
}