.Obituaries-images {
    margin: 0 8em;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2em;
}

.Obituaries-images .Obituaries-sub {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
    align-items: center;
}

.Obituaries-images img {
    width: 11.3em;
    height: 6.3em;
    object-fit: cover;
    flex-shrink: 0;
}

@media (max-width: 1200px) {
    .Obituaries-images {
        margin: 0 4em;
        gap: 1.5em;
    }
}

@media (max-width: 1024px) {
    .Obituaries-images {
        margin: 0 3em;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .Obituaries-images {
        margin: 0 2em;
        gap: 1em;
    }
    
    .Obituaries-images img {
        width: 9em;
        height: 5em;
    }
}

@media (max-width: 480px) {
    .Obituaries-images {
        margin: 0 1em;
        grid-template-columns: 1fr;
    }
    
    .Obituaries-images .Obituaries-sub {
        flex-direction: column;
        text-align: center;
    }
    
    .Obituaries-images img {
        width: 100%;
        max-width: 15em;
        height: 8em;
    }
}