* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.heading {
  position: sticky;
  top: 0;
  z-index: 1000;
  background: #ffffff;
}

@media (max-width: 48rem) {
  .heading {
    position: relative;
  }
}
