

.advertisement {
  display: flex;
  justify-content: center;
  padding: 1.5rem 1rem;
} 

.advertisement img {
  max-width: 100%;
  height: auto;
}

@media (max-width: 48rem) {
  .advertisement {
    padding: 1rem 0.5rem;
  }
}

@media (max-width: 30rem) {
  .advertisement {
    padding: 0.5rem 0.25rem;
  }
} 
